/*------------------------------------------------------------------
[Master Stylesheet]

- FONTS
- MAIN CSS
- PLUGIN CSS

-------------------------------------------------------------------*/

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


/* MAIN CSS */
@import url('bootstrap.css');
@import url('font-awesome.min.css');
@import url('home.css');
@import url('home-2.css');
@import url('submits.css');
@import url('responsive.css');



/* PLUGIN CSS */
@import url('../assets/owl-carousel/owl.carousel.css');
@import url('../assets/owl-carousel/owl.theme.css');
@import url('../assets/bxslider/jquery.bxslider.css');

