html,body{
    margin:0;
    padding:0;
    background-color: #BFC1B2;
    height:100%;
    width:100%;
    overflow:auto;
}
.navbar, .panel-default>.panel-heading, .dropdown-toggle{
    background-color: #5E4A4A;
}
.navbar-default .navbar-nav>li>a, .navbar>.container .navbar-brand, .panel-default>.panel-heading {
    color: white;
}
.panel-body, .navbar-right, li.dropdown.open, li.dropdown.open a, ul.dropdown-menu{
    background-color: #cccc99;
}
.welcome {
    height: 100%;
    overflow: hidden;
    margin: auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}
.containerW {
    text-align: center;
    flex-shrink: 1;
}
.contentW {
    text-align: center;
    display: inline-block;
}

.titleW {
    font-size: 72px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.fade:hover {
    opacity: 0.5;
}

.uname {
    margin-top: 5%;
    margin-right: 30px;
}

.list {
    white-space: pre-wrap;
}
.profile {
    width: 100%;
}
.btn-profile{
    width: 25%;
}
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
a.redirect img {
    margin-top:20px;
    margin-left: 33%;

}